# Python
__pycache__/
*.py[cod]
*$py.class
.Python
*.so

# Testing
.pytest_cache/
.coverage
**/htmlcov/
app/tests/data/
app/tests/test_data/

# Application data
logs/
instance/

# Environment
.env
.venv
env/
venv/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
