[Unit]
Description=Mirage E-Ink Display Controller
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/mirage
Environment="PATH=/home/pi/mirage/venv/bin"
ExecStart=/home/pi/mirage/venv/bin/gunicorn -b 0.0.0.0:5000 wsgi:app
Restart=always

[Install]
WantedBy=multi-user.target
